<ion-content class="ion-padding">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col sizeXs="12" sizeMd="6">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                Cadastro
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-list lines="none">
  
              <form [formGroup]="form">
                
                  <ion-item>
                    <ion-label position="floating">Nome</ion-label>
                    <ion-input type="text" formControlName="name"
                      [ngClass]="{'uk-form-danger': (!form.controls.name.valid && !form.controls.name.pristine)}">
                    </ion-input>
                    <span class="uk-text-danger" *ngIf="form.controls.name.invalid && !form.controls.name.pristine">
                        O campo nome deve ser preenchido!
                    </span>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">E-mail</ion-label>
                    <ion-input type="email" formControlName="email"
                      [ngClass]="{'uk-form-danger': (!form.controls.email.valid && !form.controls.email.pristine)}">
                    </ion-input>
                    <span class="uk-text-danger" *ngIf="form.controls.email.invalid && !form.controls.email.pristine">
                        E-mail inválido!
                    </span>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">CPF</ion-label>
                    <ion-input mask="###.###.###-##" type="text" formControlName="cpf"
                      [ngClass]="{'uk-form-danger': (!form.controls.cpf.valid && !form.controls.cpf.pristine)}">
                    </ion-input>
                    <span class="uk-text-danger" *ngIf="form.controls.cpf.invalid && !form.controls.cpf.pristine">
                        CPF inválido!
                    </span>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Telefone</ion-label>
                    <ion-input mask="(##)#####-####" type="text" formControlName="phone"
                      [ngClass]="{'uk-form-danger': (!form.controls.phone.valid && !form.controls.phone.pristine)}">
                    </ion-input>
                    <span class="uk-text-danger" *ngIf="form.controls.phone.invalid && !form.controls.phone.pristine">
                        O campo Telefone deve ser preenchido!
                    </span>
                  </ion-item>
            </form>
             
          </ion-list>
  
              <p>
                  <ion-buttons end>
                    <ion-button routerLink="/login" color="danger" >
                      Cancelar
                    </ion-button>
                    <ion-button color="primary" [disabled]="form.invalid"
                      (click)="submit()">
                      CADASTRAR
                    </ion-button>
                  </ion-buttons>
              </p>
  
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  